<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.e3mall.service.mapper.SearchItemMapper">
    <select id="findItemList" resultType="cn.e3mall.bean.SearchBean">
SELECT
  tb_item.id         id,
  tb_item.image      item_image,
  tb_item.title      item_title,
  tb_item.sell_point item_sell_point,
  tb_item.price      item_price,
  tb_item_cat.name
                     item_category_name
FROM
  tb_item
  LEFT JOIN tb_item_cat ON tb_item
                           .cid = tb_item_cat.id;
  </select>
</mapper>
